#clue-dense {
  height: 26.5vh;
}
#clue-dense-control {
  display: flex;
}

#clue-dense-control-nodetype {
  flex: 1;
  height: 100%;
}
#clue-dense-control-datatype {
  flex: 2;
  height: 100%;
}
#clue-dense-control-info {
  flex: 2;
  height: 100%;
  font-weight: bold;
  /* font-size: 16px; */
  /* line-height: 16px; */
  text-align: center;
  color: #333;
}
#clue-dense-legend {
  flex: 2;
  height: 100%;
  /* background-color: brown; */
  margin-top: 2px;
}

canvas#clue-dense-chart-mouse {
  position: absolute;
  left: 6px;
  top: 5px;
}
