#infolist .ant-empty-normal{
    margin:0 !important
}

#infolist .ant-empty-description{
    height:15px
}

#infolist .ant-empty-description{
    height:15px
}
#infolist .ant-empty-normal .ant-empty-image{
    height:15px;
    margin-bottom: 0px
}